* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#wrapper {
    display: flex;
}

#container {
    display: flex;
    flex-direction: column;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#btn-0 {
    grid-column: span 2;
}