* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: rgb(24, 24, 24);
}

.btn {
    aspect-ratio: 1 / 1;
    cursor: pointer;
    padding: 10px;
    color: white;
    background-color: rgb(72, 72, 72);
    user-select: none;
}

.btn:hover {
    background-color: rgb(112, 112, 112);
}

.btn,
#screen {
    border-radius: 15px;
    border: none;
    font-size: 2em;
}

.btn-operator {
    background-color: chocolate;
}

.btn-operator:hover {
    background-color: rgb(210, 136, 82);
}

#wrapper {
    display: flex;
    width: 300px;
    margin: auto 8px;
}

#container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#top-row {
    display: flex;
    gap: 3px;
    width: 100%;
}

#screen {
    cursor: default;
    height: 75px;
    width: 100%;
    text-align: right;
    padding: 25px 20px 5px 20px;
}

#screen:focus {
    outline: none;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4px;
    margin-top: 8px;
}

#btn-clear {
    cursor: pointer;
    background-color: rgb(212, 11, 11);
    color: white;
    text-shadow: 3px;
}

#btn-clear:hover {
    background-color: rgb(222, 59, 59);
}

#btn-equal {
    grid-row: span 2;
    aspect-ratio: auto;
    background-color: rgb(33, 148, 33);
}

#btn-equal:hover {
    background-color: rgb(77, 146, 77);
}

#btn-0 {
    grid-column: span 2;
    aspect-ratio: auto;
}

sup {
    font-size: 0.6em;
    vertical-align: 75%;
}